body {
    background-image: url(https://images.fineartamerica.com/images-medium-large-5/4-new-york-city-skyline-celestial-images.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 750px;
   
}

  .logo {
     width: 55px;
     height: 50px;
  }

  h1 {
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h2 {
      text-align: center;
      font-style: italic;
  }

  header {
     width: 20px;
     height: 30px;
   }

  .has-border {
      border-color: purple;

  }